
.m-bookshelf {
  display:table;

  border: 8px solid #edc370;

}
.m-bookshelf-row  {

  padding:20px;

  -moz-border-image: url(../img/bookshelf-pattern2.png) 20 / 20px  stretch;
  -webkit-border-image: url(../img/bookshelf-pattern2.png) 20 / 20px  stretch;
  -o-border-image: url(../img/bookshelf-pattern2.png) 20 stretch;
  border-image: url(../img/bookshelf-pattern2.png) 20 / 20px   stretch;
}
.m-bookshelf-cell {
	background-size: 100%;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:-5px;
}


.m-product{
  display:table-cell;
  max-width: 200px;
  padding-left:5px;
  padding-right:5px;
}

.m-product img {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.m-bookshelf-plain{
  background:#edc370;
  padding-bottom:10px
}

.m-navigation li {
    display: inline;
    list-style: none;
    margin: 10px;
}
.m-input-group label{
  display: block;
  margin:5px;
  margin-left:0px;
}
.m-input-group input{
  display: block;
  margin:5px;
}
.m-submit{
  margin-top:10px;
  margin-bottom:10px;
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.m-submit:hover {
  background: #3498db;
  opacity: 0.8;
}
.m-submit:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.m-input-group{
  margin:10px;
}

.m-message {
  padding:10px;
  margin-bottom:10px;
  border-radius:5px;
}
.m-message-ok {
  color:#3c763d;
  background:#dff0d8;
}
.m-message-error {
  color:#a94442;
  background:#e9c5c5;
}

.m-checkout-canvas{
  padding:20px;
}
.m-checkout-page{
  margin: 0 auto;
  max-width:800px;
  padding:10px;
  border:1px #ccc solid;
  border-radius: 5px;
}
.m-checkout-panel{
  float:left;

}
.m-clear{
  clear: both;
}
.m-paypal-button{
  
  margin-top:10px;
  margin-bottom:10px;
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.m-paypal-button:hover {
  background: #3498db;
  opacity: 0.8;
}
.m-paypal-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


